services:
  backend:
    build:
      context: .
      dockerfile: docker/backend.Dockerfile
    ports:
      - "8000:8000"
    environment:
      DEBUG: "1"
      ALLOWED_HOSTS: "localhost,127.0.0.1"

      DB_NAME: dentdb
      DB_USER: super
      DB_PASSWORD: 1
      DB_HOST: db
      DB_PORT: "5432"

      REDIS_HOST: redis
      REDIS_PORT: "6379"
    depends_on:
      - db
      - redis

  db:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: dentdb
      POSTGRES_USER: super
      POSTGRES_PASSWORD: 1
    volumes:
      - postgres_data:/var/lib/postgresql/data

  redis:
    image: redis:7-alpine
    ports:
      - "6379:6379"

volumes:
  postgres_data:
