body, html {
            height: 100%;
            margin: 0;
            font-family: 'Montserrat', sans-serif;
        }

        .main-container {
            display: flex;
            min-height: 100vh;
        }

        .left-panel {
            background-color: #3b5173;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 2rem;
        }

        .right-panel {
            background-color: #E7ECEF;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 2rem;
        }

        .btn-custom {
            background-color: #3b5173;
            color: #ffffff;
            font-weight: bold;
            letter-spacing: 1px;
            padding: 0.8rem;
            transition: 0.3s;
        }

        .btn-custom:hover {
            background-color: #1a3655;
            color: #ffffff;
        }

        @media (max-width: 991px) {
            .main-container { flex-direction: column; }
            .left-panel { 
                min-height: 40vh;
                flex-grow: 1;
            }
            .right-panel { 
                min-height: 60vh;
                flex-grow: 1;
            }
        }

        @media (min-width: 992px) {
            .left-panel { width: 50%; }
            .right-panel { width: 50%; }
        }